## 1-3 마켓과 머신러닝

### 1. 생선분류 문제
- 도미, 곤들매기, 농어, 강꼬치고기, 로치, 빙어, 송어를 프로그램으로 분류

#### 1-1 생선길이가 30cm 이상이면 도미

In [34]:
import pandas as pd
fish_data = pd.read_csv('data/Fish.csv')

fish_data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [35]:
if fish_data['Length1'].any() >= 30:
    print('도미')

# if문에서는 하나의 값만 나옴
# 결과가 여러개의 값이기 때문에
# .all (다 30 이상이야?), .any(하나라도?), .iloc[index] 조건 필요

In [36]:
fish_data['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

#### bream의 길이3과 무게수치 가져오기

In [41]:
cond = fish_data['Species'].isin(['Bream'])
cond.head()

0    True
1    True
2    True
3    True
4    True
Name: Species, dtype: bool

In [39]:
bream_LW = fish_data.loc[cond, ['Length3', 'Weight']]

   Length3  Weight
0     30.0   242.0
1     31.2   290.0
2     31.1   340.0
3     33.5   363.0
4     34.0   430.0

In [ ]:
import matplotlib.pyplot as plt

plt.scatter('Bream_Length3', '')